.App {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;

    a {
        font-size: 1.5rem;
    }
}

.content {
    padding: 0 10vw;
    padding-top: 10vh;
}

@media screen and (max-width: 800px) {
    .content {
        padding: 0 5vw;
        padding-top: 10vh;
    }
}